/*body {
  background-color: rgb(255, 255, 255);
  width: 100%;
  margin: 0; Top, right, bottom and left
  padding: 0; Top, right, bottom and left
  font-family: 'Source Sans Pro', sans-serif;
}*/

header {
  width: 100%;
  height: 600px;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  text-decoration: 5px underline dotted rgb(255, 0, 0);
  text-align: center;
  color: rgb(0, 0, 255);
  background-color: #fff;
}

header img {
  width: 100%;
  height: 100%;
}

nav button {
  padding: 6px 10px;
  margin: 5px 40px 0 0;
  font-size: 17px;
  border: none;
  cursor: pointer;
  float: left;
}

nav button:hover { background: #ccc; }

.productos, .subastas, .pujas, .usuarios {
  width: 100%;
  height: auto;
  margin-bottom: 25px;
  float: left;

}

.productos h1, .subastas h1, .pujas h1, .usuarios h1 {
  margin: 50px 0 30px 0;
  text-align: center;
}

/*.productos div, .subastas div, .pujas div, .usuarios div, section:nth-child(2) div {
  padding: 25px 15% 5px 15%;
  background-color: #f9f9f9;
  color: #912600;
  border-bottom: 1px solid #ddd;
  height: 50px;
}

.productos button:first-child, .subastas button:first-child, .pujas button:first-child, .usuarios button:first-child {
  margin-left: 15.3%;
}

.productos button, .subastas button, .pujas button, .usuarios button { margin-left: 15px; }*/

form {
  width: 30%;
  height: 350px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
  margin: 30px 8%;
  box-sizing: border-box;
  float: left;
}

.productos .formulario form { height: 410px; }

.subastas .formulario form { height: 340px; }

.pujas .formulario form { height: 360px; }

.usuarios .formulario form { height: 400px; }

form input { width: 80%; }

form input:first-child {
  margin: 50px 10% 20px 10%;
  text-align: center;
}

form input:not(:first-child) {
  margin: 10px 10%;
  text-align: center;
}

form button {
  float: left;
  /*margin: 25px 10px;
  vertical-align: middle;*/
  text-align: center;
  width: 90px;
  margin: 25px 0 25px 10%;
  /*height: 100px;*/
  border: 0;
  background-image: linear-gradient(150deg, #9500ff, #09f, #00DDFF);
  border-radius: 8px;
  color: #fff;
  /*display: flex;*/
  font-size: 18px;
  padding: 4px;
  cursor: pointer;
  transition: 0.3s;
}

form button span {
  background-color: #111;
  padding: 16px 24px;
  border-radius:6px;
  transition: 0.3s;
}

form button:hover span { background: none; }

form button:active span { transform: scale(0.9); }

/*form button:first-child {
  margin: 25px 0 25px 12%;
}

form button:not(:first-child) {
  margin: 25px 0 25px 8%;
}*/

table {
  /*width: 25%;*/
  height: 400px;
  padding: 25px 50px;
  margin: 30px 0%;
  box-sizing: border-box;
  float: left;
}

main table tr > * { border: 1px solid #0d6efd; }

/*main form {
  margin: 15px 30%;
  border: 1px solid gray;
  border-radius: 1rem;
  padding: 20px;
}

main input[type=text], main select, main textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

main form select { margin-bottom: 20px; }

main form h2 { margin-top: 30px; }

main .form-group {
  margin-top: 30px;
  width: 100%;
}

main form label, main form input, main form select { float: left; }

.col-25, .col-75 {
  float: left;
  margin-top: 6px;
}

.col-25 { width: 25%; }

.col-75 { width: 75%; }

main input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}*/

.fin-float { clear: both; }

/** Small mobile **/
@media only screen and (max-width: 320px) {

  nav input[type=text] { margin: 25px 0 0 25px; }

  nav button { margin: 25px 50px 0 0; }

  .formulario form {
    width: 70%;
    height: 350px;
    padding: 25px 40px;
    margin: 30px 15%;
  }

  table {
    width: 60%;
    font-size: 5px;
    margin: 30px 20%;
  }
}

/** Medium mobile **/
@media only screen and (min-width: 321px) and (max-width: 375px) {

  nav input[type=text] { margin: 25px 0 0 25px; }

  nav button { margin: 25px 50px 0 0; }

  .formulario form {
    width: 70%;
    height: 350px;
    padding: 25px;
    margin: 30px 15%;
  }
}

/** Big mobile **/
@media only screen and (min-width: 376px) and (max-width: 425px) {

  nav button { margin: 35px 50px 0 0; }

  .formulario form {
    width: 80%;
    height: 350px;
    padding: 25px;
    margin: 30px 10%;
  }

  .formulario form button { margin: 25px 0 25px 2%; }

  table {
    width: 60%;
    font-size: 10px;
  }
}

/** Tablets **/
@media only screen and (min-width: 426px) and (max-width: 768px) {

  nav button { margin: 35px 50px 0 0; }

  .formulario form {
    width: 65%;
    height: 375px;
    padding: 25px;
    margin: 30px 18%;
  }

  table {
    width: 90%;
    margin: 0 5% 30px 5%;
  }
}

/** Laptops **/
@media only screen and (min-width: 769px) and (max-width: 1024px) {

  nav input[type=text] { margin: 35px 0 0 250px; }

  nav button { margin: 35px 50px 0 0; }

  .formulario form {
    width: 45%;
    height: 350px;
    margin: 30px 28%;
  }

  table {
    width: 80%;
    margin: 0 10% 30px 10%;
  }
}

/** Media query for small devices **/
@media screen and (max-width: 600px) {

  .topnav a:not(:first-child, :last-child) { display: none; }

  .topnav .icon { float: right; }

  .topnav.responsive { position: relative; }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    text-align: left;
  }

  .topnav.icon, .topnav.responsive a { display: block; }

  /*table {
    overflow-x: scroll;
    text-align: left;
    font-size: 14px;
  }*/
}
